#ignore all object files
*.o
#ignore executable
modify*
pimc*
bb*
fort.*
*.txt
a.out
run
aa.f
*1.*
*2.*
test-hfhf.f
Makefile-TEST
#ignore
.DS_Store
._*
/tabulated_potential/hfc60.x
/tabulated_potential/cagepot.out
/linear_prop/linden.x
/linear_prop/qpr.x
/linear_prop/linden.out
/linear_prop/linden-original.f
/linear_prop/linden-original.f
/linear_prop_test/*
#
/examples/*/
!/examples/scripts
/examples/scripts/*.pyc
/examples/scripts/script_submission_analysis_MoRiBS-*.py
/examples/scripts/code-*.py
/examples/scripts/._*
/examples/scripts/*/
