#ignore all object files
*.o
*--pycache__*
#ignore executable
modify*
pimc*
bb*
fort.*
*.txt
a.out
run
aa.f
*1.*
*2.*
*old.cc
test-hfhf.f
Makefile-TEST
Makefile
#ignore
.DS_Store
._*
/tabulated_potential/hfc60.x
/tabulated_potential/cagepot.out
/linear_prop/linden.x
/linear_prop/qpr.x
/linear_prop/linden.out
/linear_prop/linden-original.f
/linear_prop/linden-original.f
/linear_prop_test/*
#
examples/scripts/test*
/examples/*/
!/examples/scripts
/examples/scripts/*.pyc
/examples/scripts/*new*
/examples/scripts/*old*
/examples/scripts/script_submission_analysis_MoRiBS-*.py
#/examples/scripts/code-*.py
/examples/scripts/._*
/examples/scripts/*/
examples/scripts/RenameOfFigures.sh
examples/scripts/support_without_parallel_original.py
/sprng/*
/sprng/SRC/*
/nmv_prop/asymrho.x
Makefile
/mypkg/__pycache__/
mypkg/pkgMoribs/__pycache__/
examples/scripts/fit.log
examples/scripts/pesch3fph2-180.pot
mypkg/pkgAsymrho/__pycache__/__init__.cpython-38.pyc
mypkg/pkgAsymrho/__pycache__/support_asymrho.cpython-38.pyc
mypkg/pkgAsymrho/__pycache__/__init__.cpython-36.pyc
mypkg/pkgAsymrho/__pycache__/support_asymrho.cpython-36.pyc
mypkg/pkgSymrho/__pycache__/__init__.cpython-36.pyc
mypkg/pkgSymrho/__pycache__/support_symrho.cpython-36.pyc
symtop_prop/symrho.x
