#ignore all object files
*.o
#ignore executable
modify*
pimc*
bb*
fort.*
*.txt
a.out
run
aa.f
*1.cc
*2.cc
test-hfhf.f
Makefile-TEST
#ignore
.DS_Store
._*
/tabulated_potential/hfc60.x
/tabulated_potential/cagepot.out
/linear_prop/linden.x
/linear_prop/qpr.x
/linear_prop/linden.out
/linear_prop/linden-original.f
/linear_prop/linden-original.f
/linear_prop_test/*
#
eigen-values-of-two-rotors/*/
eigen-values-of-two-rotors/*txt
eigen-values-of-two-rotors/vh2h2*
eigen-values-of-two-rotors/*.o
eigen-values-of-two-rotors/bb*
eigen-values-of-two-rotors/*.dat
eigen-values-of-two-rotors/*err
eigen-values-of-two-rotors/*out
!eigen-values-of-two-rotors/
#
eigen-values-of-two-rotors-new/*/
eigen-values-of-two-rotors-new/*txt
eigen-values-of-two-rotors-new/vh2h2*
eigen-values-of-two-rotors-new/*.o
eigen-values-of-two-rotors-new/bb*
eigen-values-of-two-rotors-new/*.dat
eigen-values-of-two-rotors-new/*err
eigen-values-of-two-rotors-new/*out
!eigen-values-of-two-rotors-new/
#
/examples/*/
!/examples/scripts
/examples/scripts/*.pyc
/examples/scripts/._*
/examples/scripts/*/
